<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>两个uiimageView实现轮播.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>239240C81CC334A500F116C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239240E11CC334A500F116C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239240EC1CC334A500F116C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
